.button {
  display: inline-block;

  padding: calc(var(--distancer) / 2);

  cursor: pointer;
}

.button--is-disabled {
  opacity: .7;
}

.button,
.button-icon,
.button-label {
  border-radius: var(--radius-small);
}

.button-icon + .button-label {
  margin-left: var(--distancer-small);
}

.button--type-default {
  color: var(--color-black);
  background: var(--color-gray);
}

.button--type-default:hover {
  background-color: color(var(--color-gray) shade(20%));
}

.button--type-primary {
  color: var(--color-black);
  background: var(--color-primary);
}

.button--type-primary:hover {
  background-color: color(var(--color-primary) shade(20%));
}

.button--type-danger {
  color: var(--color-white);
  background: var(--color-danger);
}

.button--type-danger:hover {
  background-color: color(var(--color-danger) shade(20%));
}
