:root {
  --call-size: 5px;
}

.data-status {
  position: fixed;
  top: 0;
  left: 50%;

  padding: calc(var(--distancer) / 2);

  transform: translateX(-50%);
  text-align: center;

  background-color: var(--color-white);
}

.calls {
  position: absolute;

  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  height: var(--call-size);
}

.call {
  height: var(--call-size);
  margin-right: 5px;

  flex-grow: 1;

  font-size: var(--font-size-small);
}

.call:last-child {
  margin-right: 0;
}

.call--create {
  background-color: var(--color-primary);
}

.call--load {
  background-color: var(--color-purple);
}

.call--update {
  background-color: var(--color-orange);
}

.call--delete {
  background-color: var(--color-danger);
}
