:root {
  --marker-size: 32px;
  --shadow-height: 16px;
  --shadow-bottom: -14px;
}

.marker {
  position: absolute;

  width: var(--marker-size);
  height: var(--marker-size);

  margin-top: -35px;
  margin-left: calc(-1 * var(--marker-size) / 2);
}

.pointer {
  height: var(--marker-size);

  cursor: pointer;
  transform: rotate(-45deg);

  border: 2px solid var(--white);
  border-radius: 50% 50% 50% 0;
  background: var(--white);
}

.pointer::after {
  position: absolute;

  top: calc(var(--marker-size) / 4 - 2px);
  left: calc(var(--marker-size) / 4 - 2px);

  width: calc(var(--marker-size) / 2);
  height: calc(var(--marker-size) / 2);

  content: "";

  border-radius: 50%;
  background: var(--black);
}

.shadow {
  position: absolute;

  z-index: -2;
  bottom: var(--shadow-bottom);
  left: 0;

  width: var(--marker-size);
  height: var(--shadow-height);

  opacity: .7;

  border-radius: 50%;
  background: var(--black);
}

.marker--is-active .pointer {
  background: var(--black);
}

.marker--is-active .pointer::after {
  background: var(--white);
}

.marker--is-active .shadow {
  animation: pulsate 1s ease-out;
  animation-delay: 1.1s;
  animation-iteration-count: infinite;

  opacity: 0;

  border-radius: 50%;
  background: var(--white);
}

@keyframes pulsate {
  0% {
    transform: scale(.1, .1);

    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.5, 1.5);

    opacity: 0;
  }
}
