@import "sanitize.css";
@import "@fortawesome/fontawesome-free/css/all.css";

body {
  color: var(--black);

  font-size: var(--font-size-normal);
}

hr {
  height: 1px;

  margin: var(--distancer-small) 0;

  border: 0;
  background: var(--black);
}
