@import "sanitize.css";
@import "@fortawesome/fontawesome-free/css/all.css";

body {
  color: var(--color-black);

  font-size: var(--font-size-normal);
}

hr {
  height: 1px;

  margin: calc(var(--distancer) / 2) 0;

  border: 0;
  background: var(--color-black);
}

h1 {
  margin-top: 0;

  margin-bottom: calc(var(--distancer) / 2);
  padding-bottom: calc(var(--distancer) / 2);

  border-bottom: 1px solid var(--color-black);

  font-size: var(--font-size-big);
}
